<div id="search-results-to">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#to-tab1" aria-controls="to-tab1" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#to-tab2" aria-controls="to-tab2" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#to-tab3" aria-controls="to-tab3" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#to-tab4" aria-controls="to-tab4" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#to-tab5" aria-controls="to-tab5" role="tab" data-toggle="tab"></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="to-tab1"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="to-tab2"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="to-tab3"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="to-tab4"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="to-tab5"><div class="anchor"></div></div>
  </div>
</div>

<div id="search-results-from">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#from-tab1" aria-controls="from-tab1" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#from-tab2" aria-controls="from-tab2" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#from-tab3" aria-controls="from-tab3" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#from-tab4" aria-controls="from-tab4" role="tab" data-toggle="tab"></a></li>
    <li role="presentation"><a href="#from-tab5" aria-controls="from-tab5" role="tab" data-toggle="tab"></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="from-tab1"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="from-tab2"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="from-tab3"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="from-tab4"><div class="anchor"></div></div>
    <div role="tabpanel" class="tab-pane" id="from-tab5"><div class="anchor"></div></div>
  </div>
</div>