<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4flight</title>
  <link rel="stylesheet" href="/assets/stylesheets/vendor/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/vendor/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/vendor/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/vendor/bootcomplete.css">
  <link rel="stylesheet" href="/assets/stylesheets/vendor/spinner.css">
  <link rel="stylesheet" href="/assets/stylesheets/vendor/font-awesome.css">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <!-- templates -->
</head>
<body>
  <div class="container">
    <%= erb :search_form %>
    <div id="errors"></div>
    <div id="pluswrap">
      We're looking for available flights. Please be patient.
      <div id="floatingBarsG">
        <div class="blockG" id="rotateG_01"></div>
        <div class="blockG" id="rotateG_02"></div>
        <div class="blockG" id="rotateG_03"></div>
        <div class="blockG" id="rotateG_04"></div>
        <div class="blockG" id="rotateG_05"></div>
        <div class="blockG" id="rotateG_06"></div>
        <div class="blockG" id="rotateG_07"></div>
        <div class="blockG" id="rotateG_08"></div>
      </div>
    </div>
    <%= yield %>
  </div>

  <script type="text/javascript" src="/assets/javascripts/vendor/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/bootcomplete.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/moment.js"></script>
  <script src="/assets/javascripts/vendor/mustache.min.js"></script>
  <!-- TEMPLATES -->
  <script id="flight-card" type="x-tmpl-mustache">
    <div class="panel panel-default card scaling">
      <div class="panel-heading">
        <h4>
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          {{start.airportName}}
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          {{finish.airportName}}
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{start.dateTime}}<br/>
            {{start.airportName}} ({{start.airportCode}}) — {{start.cityName}} {{start.countryName}}
          </div>
          <div class="col-xs-6">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{finish.dateTime}}<br/>
            {{finish.airportName}} ({{finish.airportCode}}) — {{finish.cityName}}, {{finish.countryName}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Plane:  <i class="fa fa-plane" aria-hidden="true"></i> {{plane.manufacturer}} {{plane.model}}
          </div>
          <div class="col-xs-12">
            {{airline.name}} Flight: {{flightNum}}
          </div>
          <div class="col-sm-12">
            Duration: {{durationMin}}
          </div>
          <hr/>
          <div class="col-sm-12">
            <h3> Price: <span class="label label-success">${{price}}</span></h3>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="date-tab-list" type="x-tmpl-mustache">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          {{start.airportName}}
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          {{finish.airportName}}
        </h2>
      </div>
    </div>
    <hr/>
  </script>

  <script id="date-tab-div" type="x-tmpl-mustache">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          {{start.airportName}}
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          {{finish.airportName}}
        </h2>
      </div>
    </div>
    <hr/>
  </script>

  <script id="flight-header" type="x-tmpl-mustache">
    <div class="row direction-header">
      <div class="col-xs-12">
        <h2>
          {{from}}
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          {{to}}
        </h2>
      </div>
      <hr/>
    </div>
  </script>


  <script id="error-tpl" type="x-tmpl-mustache">
    <div class="alert alert-danger alert-dismissible" role="alert error">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{key}} {{value}}
    </div>
  </script>

  <script id="no-flights" type="x-tmpl-mustache">
    <div class="well error">
      Sorry, no flights for this date :(
    </div>
  </script>
  <!-- TEMPLATES -->
  <script type="text/javascript" src="/assets/javascripts/app.js"></script>
</body>
</html>